<footer>
  <div class="footer_container">
    <div class="rights">
      <span>@Saurabh Jirapure. All Rights Reserved</span>
    </div>
    <div class="home_profile">
      <div class="home"><a href="/">Home</a></div>
      <div class="profile"><a href="/users/profile">Profile</a></div>
    </div>
  </div>
</footer>
