<link rel="stylesheet" href="/css/user_profile.css">
     
    <h1>Codeial / Profile Page </h1>

   <p><%= user.name %></p>
   <p>Email: <%= user.email %></p>
   
   <a href="/users/sign-out"><button>Sign Out</button></a>


    